version: "3.8"

services:
  app:
    build: .
    tty: true
    ports:
      - "8080:8080"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
      - CONFIG=${CONFIG}
    command: bash -c "quasar dev"
