html, body, #q-app, .max-height
  height: 100% !important
  min-height: 100% !important

.items-centred
  align-items: center

.q-btn.toggle
  &.pushed
    background-color $primary !important
    border-color $primary !important
    color white !important
