@media print {
  .print {
    display: block;
  }
  .no-print {
    display: none;
  }

  @page {
    size: landscape;
    margin-left: 1.2cm;
    margin-right: 1.2cm;
  }

  body {
    padding: 0;
  }

  #q-app {
    overflow: hidden;
  }

  .giscube-header {
    border: none !important;
  }

  .header {
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.2em;
    font-weight: 100;
    padding: 10px 10px;

    img {
      height: 40px;
      width: 50px;
    }
  }

  #q-app > .q-layout > .q-page-container {
    position: absolute;
    top: 56px;
    bottom: 0;
    left: 0;
    right: 0;
  }
  main.q-page {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 210mm;
    border: 5px solid #bbb;
  }

  .sidebar-left aside {
    border: 5px solid transparent;
    border-top: 0px solid transparent;
    border-bottom: 10px solid transparent;
    font-size: 0.9em;
  }
  .sidebar-close {
    display: none;
  }
  .q-drawer__content {
    border-right: 1px solid #bbb;
  }
  .q-layout__shadow {
    display: none;
  }
  .giscube-layers-control {
    display: none !important;
  }
  .leaflet-control-zoom {
    display: none;
  }
}
